.header-left {
    text-align: left;
    padding: 20px;
    border-radius: 50px;
}

.image-resize-one {
    height: 250px;
}

.image-resize-two {
    float: right;
    height: 300px;
}

.extra-padding {
    padding: 80px;
}

.margin-text-two {
    padding: 20px;
    height: 25%;
    margin: auto;
    border-radius: 50px;
    line-height: 25px;
}

.align-text-center {
    text-align: center;
    line-height: 25px;
}

.font-home {
    font-weight: bold;
    line-height: 25px;
}

@media (max-width: 575px) {
    .align-text-center {
        margin-top: 20px;
    }
}
