.header-center {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 50px;
}

.image-resize-one {
    float: left;
    width: 1050px;
    height: 500px;
    border: 3px solid #fff;
    margin: 10px;
}

.image-resize-two {
    float: right;
    width: 1050px;
    height: 500px;
    border: 3px solid #fff;
    margin: 10px;
}

.extra-padding {
    padding: 80px;
}

.margin-text-two {
    /*margin-top: 170px;*/
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    height: 25%;
    margin: auto;
    border-radius: 50px;
    line-height: 25px;
}

.align-text-center {
    text-align: center;
    line-height: 25px;
}

.font-home {
    font-weight: bold;
    line-height: 25px;
}

@media (max-width: 575px) {
    .align-text-center {
        margin-top: 20px;
    }
}