.horeca-header-center {
    text-align: center;
    padding: 50px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.horeca-header-right {
    text-align: center;
    margin: 50px;
}

.font-home {
    font-weight: bold;
    line-height: 25px;
}

.background-horeca {
    background-color: white;
    line-height: 25px;
}

.horeca-images-resize {
    width: 300px;
    height: 300px;
}

.padding-extra {
    padding-top: 50px;
    padding-bottom: 50px;
}

.margin-last-item {
    margin-bottom: 20px;
}