:root {
	--appleRed: #d40049;
	--lightRed: #d65e4a;
	--yellow: #fff9c0;
	--lightGreen: #d0cf73;
	--green: #99e89d;
	--lightBlue: #d1efff;
	--black: #000;
}

* {
	font-family: 'Ubuntu', sans-serif;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
	background-image: url(https://static.vecteezy.com/system/resources/previews/003/473/400/non_2x/flat-background-of-blue-sky-and-white-clouds-free-vector.jpg);
	background-attachment: fixed;
	background-size: calc(100% - 100px);
	background-position: bottom right;
	box-shadow: inset 0 0 0 1000px rgba(209, 239, 255, 0.55);
}



