.navBackground {
    background-color: var(--lightRed);
}

.log-in-out-mb {
    margin-left: 20px;
}

.extra-form-pd {
    margin-top: 17px;
}

.logo-resize {
    height: 100px;
}

.cart {
    margin-left: 20px;
}

.search-btn {
    background-color: #fff;
}

.nav-search-btn {
    border: 2px solid black;
    border-radius: 12px;
    background-color: rgba(204, 26, 26, 0.705);
}

.nav-link {
    color: #fff !important
}

.white-line {
    color: #fff;
}

.nav-link:hover {
    color: rgb(196, 194, 194) !important
}

.login-link {
    color: #fff
}

.login-link:hover {
    color: rgb(196, 194, 194) !important
}