.nieuws-margin {
    margin: 50px;
    padding: 0;
}

.nieuws-header {
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    padding: 100px;
}

.nieuws-header-text {
    font-weight: bold;
}