.game-container {
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 200px; */
    justify-content: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    border-radius: 2px; /* 5px rounded corners */
}

.game-container > div {
    margin: 30px;
}
.image {
    height: 500px;
    width: 500px;
    margin: 10px;
}

ul.b {
    list-style-type: square;
}
.center {
    padding: 150px 0;
    margin-left: 15px;
    margin-right: 10px;
}
.test{
    vertical-align: baseline;
}
.button{
    opacity: 0.5;
}
