.sidebar a {
    margin-left: 10px;
    display: block;
    padding-bottom: 10px;
    font-size: 20px;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.card-margin {
    margin-bottom: 105px;
}

.content {
    background-color: white;
    margin-top: 20px;
}

.login-error {
    color: red;
}

.main-container {
    min-height: 60vh;
}
