.card-grid .card-header,
.card-grid .card-body {
    padding: 0;
    gap: 10px;
}
.card-grid .card-header .row div[class^="col"],
.card-grid .card-body .row div[class^="col"],
.card-grid .card-grid-caption {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}
.card-grid .card-header .row {
    display: none;
    margin-left: 0;
    margin-right: 0;
}
.card-grid .card-body .row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
}

.card-grid .card-body .row div[class^="col"] {
    position: static;
}

.card-grid .card-body .row div[class^="col"]:last-of-type {
    border-bottom: 3px solid #dee2e6;
    padding-bottom: 4em;
}

.card-grid .card-body .row:last-of-type div[class^="col"] {
    border-bottom: none !important;
}

.card-grid .card-body .row div[class^="col"] label {
    font-weight: bold;
}

.clickable:hover {
    color: #777
}

.remove.clickable {
    color: tomato;
    font-size: 2.5em;
}

.remove.clickable:hover {
    color: #a53219;
}

.save.clickable {
    color: dodgerblue;
    font-size: 2.5em;
    display: none;
}

.card-grid .card-body .row.changed .save.clickable{
    display: inline-block;
}

.card-grid .card-body .row.changed-img .save.clickable{
    display: inline-block;
}

.save.clickable:hover {
    color: #1464b5
}

.card-grid .card-body .row .product-images .image{
    width: 100%;
    aspect-ratio: 1;
    object-fit: scale-down;
}

.product-images{
    position: relative;
}

.imageUpload {
    position:absolute;
    bottom: 0;
    left:0;
    background: rgba(0,0,0,0.2);
    color: #1464b5;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    transition: 0.5s;
    cursor: pointer;
}
.product-images:hover .imageUpload{
    height: 100%;
}

.imageUpload svg.svg {
    width: 90%;
    height: 90%;
    max-height: 200px;
    max-width: 200px;
    color: white;
    filter: drop-shadow(0px 0px 10px black);
    cursor: pointer;
}

.imageUpload>.cancel{
    display: none;
}

.row.changed-img .imageUpload>.cancel {
    display: block;
}

.row.changed-img .imageUpload>.uploadLabel {
    display: none;
}

.nutrition tr:not(:last-child) {
    border-bottom: rgba(0,0,0,.1) 1px solid;
}
.nutrition th{
    padding-right: 1em;
    padding-bottom: .5em;
}
.nutrition td input {
    border: 0;
    max-width: 3em;
}

@media (min-width: 768px) {
    .card-grid .card-grid-caption {
        display: none;
    }
    .card-grid .card-header .row {
        display: flex;
        position: sticky;
        top: 0;
    }
    .card-grid .card-body .row div[class^="col"] {
        border-bottom: 1px solid #dee2e6;
        border-left: 1px solid #dee2e6;
    }

    .card-grid .card-body .row div[class^="col"]:last-of-type {
        border-bottom: 1px solid #dee2e6;
        padding-bottom: 1em;
    }

    .card-grid .card-body .row div[class^="col"]:nth-of-type(1) {
        border-left: none !important;
    }
    .card-grid .card-body .row div[class^="col"] label:not(.uploadLabel){
        display: none;
    }
    .card-grid .card-body .row div[class^="col"] a.stretched-link:hover:after {
        color: #212529;
        background-color: rgba(0, 0, 0, .075);
    }

    .card-grid .card-body .row:hover {
        background-color: rgba(0, 0, 0, .075);
    }
}

.card-grid .card-body .row.changed, .row.changed-img {
    background-color: #b2eeff;
}

.card-grid .card-body .row.updated {
    background-color: #d5ffc3;
}

.card-grid .card-body .row.failed {
    background-color: tomato;
}
