#image {

}
#name {
    margin-left: 1px;
    padding-top: 10px;
    margin-right: 30%;
    padding-right: 20px;
    width: 5px;
}
#QuantityAlign {
    padding-top: 10px;
    margin-left: 11%
}
#amountAlign {
    padding-top:  30px ;
    padding-right: 1%;
}
#quantity {
    width: 5em;
}
#updateAlign {
    padding-top: 4.5%;
    padding-right: 10px;
    margin-left: 5px;
}
#deleteAlign {
    padding-top: 30px;
}
#Price {
    padding-top: 2%
}
